@import "../sass/variables/darkmode";
@import "../sass/variables/mixin";
@import "../sass/variables/variables";
@import "../sass/content/content";
@import "../sass/content/preview";
@import "../sass/head/header";
@import "../sass/head/nav";
@import "../sass/mediaq";


html {
  font-family: "Nunito Sans", sans-serif;
  color: var(--textColor);
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// class for the elementes, when we will search for the specific country
.hide {
  display: none;
}

