:root,
:root.light {
  --element: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --textColor: hsl(200, 15%, 8%);
  --greyTextColor: hsl(200, 15%, 8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --element: hsl(209, 23%, 22%);
    --background: hsl(207, 26%, 17%);
    --textColor: white;
    --greyTextColor: rgba(255, 255, 255, 0.75);
  }
  .moon-svg {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .sun-svg {
    display: none;
  }
}
:root.dark {
  --element: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --textColor: white;
  --greyTextColor: rgba(255, 255, 255, 0.75);
}

header {
  background-color: var(--element);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  min-height: 6rem;
  max-width: 1250px;
  margin: 0 auto;
}
header .header-container h1 {
  font-size: clamp(1rem, 4vw, 1.15rem);
  font-weight: 600;
}
header .header-container .mode-switch {
  display: flex;
  justify-content: none;
  align-items: center;
  cursor: pointer;
}
header .header-container .mode-switch svg {
  width: 17px;
  height: 17px;
  fill: var(--textColor);
}
header .header-container .mode-switch p {
  padding-left: 0.5rem;
  font-size: clamp(1rem, 4vw, 1.15rem);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1250px;
}
main .countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  z-index: 100;
  gap: 2rem;
  width: 100%;
}
main .countries .country {
  background-color: var(--element);
  border-radius: 0.4em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 150ms;
  justify-self: stretch;
  cursor: pointer;
}
main .countries .country:hover {
  transform: scale(1.05);
}
main .countries .country a {
  color: inherit;
}
main .countries .country a img {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
main .countries .country a .country-container {
  padding: 1rem 1.5rem 2rem 1.5rem;
}
main .countries .country a .country-container h3 {
  margin-bottom: 1.25rem;
}
main .countries .country a .country-container p {
  margin-bottom: 0.45rem;
  font-weight: 600;
}
main .countries .country a .country-container span {
  color: var(--greyTextColor);
  font-weight: 400;
}

nav {
  margin: 2rem auto 9rem auto;
  padding: 0 2rem;
}
nav .country-nav .input-container {
  background-color: var(--element);
  display: flex;
  justify-content: none;
  align-items: center;
  padding: 0 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .country-nav .input-container .search-input {
  border: none;
  background-color: inherit;
  padding: 1rem 0;
  width: 100%;
  outline: none;
  color: var(--textColor);
}
nav .country-nav .input-container .search-input::-moz-placeholder {
  color: var(--greyTextColor);
}
nav .country-nav .input-container .search-input::placeholder {
  color: var(--greyTextColor);
}
nav .country-nav .input-container svg {
  width: 25px;
  height: 25px;
  fill: var(--textColor);
  padding-right: 1.5rem;
}
nav .country-nav .dropdown {
  width: 14rem;
  position: absolute;
  top: 13rem;
}
nav .country-nav .dropdown .select {
  background-color: var(--element);
  padding: 1rem 1.5rem;
  margin-bottom: 0.35rem;
  border-radius: 0.35em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .country-nav .dropdown .select .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--textColor);
}
nav .country-nav .dropdown .menu {
  background-color: var(--element);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.35em;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  opacity: 0;
  transform: translateY(-15px);
  position: relative;
  z-index: 99;
}
nav .country-nav .dropdown .menu li {
  font-size: 0.9rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
nav .country-nav .dropdown .menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown.active > .select + .menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 101;
}

nav .preview-nav {
  display: none;
  max-width: 1250px;
}
nav .preview-nav .back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 1.5rem;
  background-color: var(--element);
  max-width: 5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .preview-nav .back-container .back-btn {
  color: var(--textColor);
  padding-left: 0.75rem;
}
nav .preview-nav .back-container svg {
  width: 20px;
  height: 20px;
  fill: var(--textColor);
}

main {
  margin-bottom: 4rem;
}
main .preview-main {
  max-width: 350px;
  display: none;
}
main .preview-main img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
main .preview-main .preview-desc {
  margin-top: 3rem;
  width: 100%;
}
main .preview-main .preview-desc p {
  margin-bottom: 1rem;
  font-weight: 600;
}
main .preview-main .preview-desc span,
main .preview-main .preview-desc .borders li {
  color: var(--greyTextColor);
  font-weight: 300;
}
main .preview-main .preview-desc .layer {
  margin-top: 3rem;
}
main .preview-main .preview-desc .thrd-layer-des h3 {
  margin-bottom: 1.25rem;
  font-weight: 600;
}
main .preview-main .preview-desc .thrd-layer-des .borders {
  display: flex;
  justify-content: none;
  align-items: end;
  flex-wrap: wrap;
  gap: clamp(0.75rem, 4vw, 2rem);
}
main .preview-main .preview-desc .thrd-layer-des .borders li {
  background-color: var(--element);
  padding: 0.5rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40px;
  text-align: center;
  cursor: default;
}
main .preview-main .preview-desc .thrd-layer-des .borders li:hover {
  transform: scale(1.1);
}

html {
  font-family: "Nunito Sans", sans-serif;
  color: var(--textColor);
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.hide {
  display: none;
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin-bottom: 2rem;
    position: relative;
  }
  nav .country-nav .input-container {
    width: 400px;
  }
  nav .country-nav .dropdown {
    position: absolute;
    right: 2rem;
    top: 0;
  }
}
@media screen and (min-width: 900px) {
  main .preview-main {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 1250px;
    display: none;
    gap: 2rem;
  }
  main .preview-main img {
    max-width: 800px;
  }
  main .preview-main .preview-desc {
    margin-top: 0;
  }
  main .preview-main .preview-desc .layers-container {
    max-width: 500px;
  }
  main .preview-main .preview-desc .layers-container .first-second-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  main .preview-main .preview-desc .layers-container .thrd-layer-des {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  main .preview-main .preview-desc .layers-container .thrd-layer-des h3 {
    white-space: nowrap;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  main .preview-main .preview-desc .layers-container .thrd-layer-des .borders {
    display: flex;
    justify-content: flex-start;
    gap: clamp(0.75rem, 2vw, 1.5rem);
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */