// default light mode if user has it on default
:root,
:root.light {
  --element: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --textColor: hsl(200, 15%, 8%);
  --greyTextColor: hsl(200, 15%, 8%);
  
}

// if user has default dark
@media (prefers-color-scheme: dark) {
  :root {
    --element: hsl(209, 23%, 22%);
    --background: hsl(207, 26%, 17%);
    --textColor: white;
    --greyTextColor: rgba(255, 255, 255, 0.75);
  }
  
  .moon-svg {
    display: none;     
   }
}

@media (prefers-color-scheme: light) {
  .sun-svg {
    display: none;
  }
}

// manual switching for dark
:root.dark {
  --element: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --textColor: white;
  --greyTextColor: rgba(255, 255, 255, 0.75);
}